
.inicio{
  background-image: url(../ImagP1/44E.png);
  background-repeat: no-repeat;
  background-position: center;
}

.bkd{
  background-color: #AAC7CD;
}
.marco{
  background-color: white;
  display: block;
  text-align: center;
  width: 30%;
}
.hed2{
  background-color: white;
}
.carrito{
  width: 120px;
  height: 80px;
  display: block;
  float: right;
  position: absolute; right:10%;
}
.ibut{
  width: 100px;
  position:absolute;top:30%;left:25%;
}
.ibut2{
  width: 100px;
  position:absolute;top:30%;left:45%;
}
.ibut3{
  width: 100px;
  position:absolute;top:30%;left:65%;
}
}
.ibut2{
  width: 150px;
}
body{
  font-family: 'Averia Libre', cursive;
}
h1{
  font-size: 70px;
  text-align: center;
}
h2{
  color:#336E7B;
  font-size: 35px;
}
.desp{
  text-align: center;
  position:absolute;top:40%;left:25%;
}
.desp2{
  text-align: center;
  position:absolute;top:60%;left:45%;
}
.desp3{
  text-align: center;
  position:absolute;top:40%;left:65%;
}
h5{
  background-color: #C4C4C4;
}
footer{
  position: absolute; top:90%;
}
